body{
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
    color: red;
}

p {
    margin: 0;
}

#head{
    top: 0;
    width: 100%;
    /*height:5%;*/
    height:50px;
    background-color:black;
}
#seleziona{
    
    text-align:center;
    font-size:x-large;
    width:100%;
    background-color:rgba(255,0,0,0.7);
    height:300px;
    
}
#seleziona button{
    position: relative;
}
#privato{
    text-align: center;
    display:none;
    width:100%;
    background-color:rgba(255,255,0,0.7);
   
   /* height:30%;*/
    height:300px;
}
#noprivato{
    text-align: center;
    display:none;
    width:100%;
    background-color:rgba(128,128,128,0.7);
    height:300px;
}

.conferma{
border-radius: 5px;
   padding: 5px;
   background-color:rgba(255,0,0,0.7);
   color:white;
   font-weight:bold;
   cursor: pointer;

}

.cBottoni {
    margin-top: 10px;
}

/*conferma*/

#show{
    border-radius: 5px;
   padding: 5px;
   background-color:rgb(10, 10, 10);
   color:white;
   font-weight:bold;
   cursor: pointer;
}
#hide{
    border-radius: 5px;
   padding: 5px;
   background-color:rgb(10, 10, 10);
   color:white;
   font-weight:bold;
   cursor: pointer;
}
#back{
    border-radius: 5px;
   padding: 5px;
   background-color:rgb(10, 10, 10);
   color:white;
   font-weight:bold;
   cursor: pointer;
}

@media only screen and(max-width: 900px){
    h1{
        font-size: medium;
    }
}