body{
    text-align: center;
    /*background-image: url("tech.jpg");*/
    height: 100%;
    width: 100%;
    background-color: rgb(83, 224, 70);
}

img{
    height: 0%;
    width: 91%;
}

.cont{
    position: absolute;
    top: 20%;
    /*background-color: white;*/
    text-align: center;
    width: 70%;
    left: 15%;
    border-radius: 5%;
}

h1{
    font-size: 5vw;
}