/* BODY */
body, html{
    /*background-color: rgb(0, 0, 0);*/
    text-align: center;
    height: 100%;  
    font-size: 100%; 
}
/*============================================================*/
/* DIV PARALLAX */

.parallax {
    /*immagine usata come sfondo*/
    background-image: URL("Immagini/singapore-2696704_1280.jpg");

  
    /* altezza */
    height: 100%;
  
    /* effetto scrolling */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*============================================================*/
/* TENDINA */

.tendina{
    height: 100%;
    background:rgb(0, 0, 0);
    width: 100%;
}
/*============================================================*/
/* INTESTAZIONE */
.intestazione{
    background-color: black;
    /*height: 17%;*/
    
}
/*============================================================*/
/* CONTAINER BOTTONI */
.container1{
    /*background-color: rgb(223, 213, 213);*/
    height: 8%;
    
}
/*============================================================*/
/* CONTAINER IMMAGINE */
.container2{
    /*background-color: rgb(179, 184, 175);*/
    height: 72%;
}
/*============================================================*/
/* BOTTONI  */
.btn{
    background-color: black;
    /*color: crimson;*/
    color: rgb(8, 178, 245);
    text-align: center;
    text-decoration: none;
    padding: 0.5%;
    vertical-align: middle;
    border:black;
}
.btn:hover{
    background-color: rgb(0, 203, 253);
    color: black;
}

/*============================================================*/
.Messaggio{
    color: rgb(8, 178, 245);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6.5vw;
    
}

.map{
    height: 80%;
    width: 50%;
}

/*============================================================*/
/* LINK OSPEDALE */
.linkospedale{
    position: absolute;
    left: 25%;
    top: 130%;
    width: 22%;
    height: 22%;
}

/*============================================================*/
/* LINK CENTRO COMMERCIALE */
.linkcentrocommerciale{
    position: absolute;
    left: 50%;
    top: 130%;
    width: 25%;
    height: 22%;
}

/*============================================================*/
/* LINK CENTRO STORICO */
.linkcentrostorico{
    position: absolute;
    left: 50%;
    top: 157%;
    width: 25%;
    height: 28%;
}
/*============================================================*/
/* IMMAGINE DI SFONDO TENDINA */

.sfondo{
    background-image: url("sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 84%;
}
