*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#333;
    color:#fff;
    line-height: 1.6;
    height:100vh;
    overflow:hidden;
}
.container{
    width:100%;
    height:100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


.navbar{
    position:fixed;
    top:0;
    z-index:1;
    display:flex;
    width:100%;
    height: 40px;
    background: rgba(0,0,0,0.7);
}

.navbar ul{
    display:flex;
    list-style:none;
    width:100%;
    justify-content:center;
}
.navbar ul li{
    margin:0 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}
.navbar ul li a:hover{
    
    color:skyblue;
}

.load{
    border-radius: 5px;
    padding: 5px;
    background-color:rgb(150,0,0);
    color:white;
    font-weight:bold;
    cursor: pointer;
    
}
section{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:100%;
    height:100vh;
    scroll-snap-align: center;
}
section h1{
    font-size:4rem;
}

section p{
    font-size:1.5rem;
}
/*
section#galleria{
    background:url("../Immagini/colosseo_foto1.jpg") no-repeat center center/
    cover;
}
section#parcheggi{
    background:url("../Immagini/shangai.jpg") no-repeat center center/
    cover;
}
*/

body{
    background-color:black;
   }


.h1{
    text-align: center;
    font-style: oblique;
     color: red;
     font-size:7vh;
}

   h1{
    font-size:5vw;
}
h1, h2{
    text-align: center;
    font-style: oblique;
     color: red;

}

.back_btn{
   /* border: 1px solid;*/
}
#torna_back{
    border-radius: 5px;
   padding: 5px;
   background-color:rgb(150,0,0);
   color:white;
   font-weight:bold;
   cursor: pointer;
}
   #gallery{
     top:15%;
     left:100%;
     right:15%;
     border:3px solid red;
     height: 70%;
     width: 50%;
   }
   .mySlides{
     position: relative;
     display: none;
     padding-top: 80px;
     
   }
   
   img {
     vertical-align: middle;
     height:100%;
   }
   
   /* Slideshow container */
   .slideshow-container {
   /*max-width: 1200px;*/
   width: 80%;
   height:80%;
   bottom:7%;
   position: relative;
   margin: auto;
   
   }
   
   /* Next & previous buttons .prev, */
   .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   /*margin-top: -22px;*/
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
   }
   
   /* Position the "next button" to the right */
   .next {
   right: 0;
   border-radius: 3px 0 0 3px;
   }
   .prev {
   left: 0;
    border-radius: 3px 0 0 3px;
   }
   
   /* On hover, add a black background color with a little bit see-through */
   .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
   }
   
   /* Caption text */
   .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 0px;
   width: 100%;
   text-align: left;
   background-color:black;
   }
   .text p {
   float: left;
   margin-left: 15%;
   margin-right: 15%;
   font-size: 18px;
   }
   
   .c1 {
    margin-left: 7%;
    margin-right: 7%;
    
   }
   
   .dot {
    cursor:pointer;
    height: 6px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 10%;
    display: inline-block;
    transition: background-color 0.6s ease;  
    
  }
  
   
   .active, .dot:hover {
   background-color: #717171;
   }
   
   /* Fading animation */
   .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
   }
   
  

.descrizione_parcheggio{
    justify-content: center;
    font-size: 20px;
}

section#parcheggi #prenotabtn{
    
    bottom:10%;
    /*border-radius: 50%;*/
    border-radius: 5px;
    padding: 5px;
    background-color:rgb(150,0,0);
    color:white;
    font-weight:bold;
    cursor: pointer;
    
}

section#descrizione #colosseop{
   display: none;
}
section#descrizione #monumento2p{
    display: none;
 }
 section#descrizione #monumento3p{
    display: none;
    
 }

/*================================================================================================*/
/*CAMBIO VISUALIZZAZIONE*/

 @media only screen and (max-width: 900px){
    .h1{
        margin-top:50px;
        font-size: 20px;
        
    } 
    .c{
        font-size:15px;
    }
    .c1{
        font-size:20px;
       
    }
  
    .navbar{
        position:fixed;
        top:0;
        z-index:1;
        display:flex;
        width:100%;
        height: 40px;
        background: rgba(0,0,0,0.7);
    }
    
    .navbar ul{
        display:flex;
        list-style:none;
        width:100%;
        justify-content:center;
    }
    .navbar ul li{
        margin:0 1rem;
        padding: 7px;
    }
    
    .navbar ul li a{
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: #f4f4f4;
    }
    
    #torna_back{
       border-radius: 5px;
       padding: 2px;
       background-color:rgb(150,0,0);
       color:white;
       font-weight:bold;
       cursor: pointer;
    }
    


     
 }
/*================================================================================================*/
/*CAMBIO VISUALIZZAZIONE*/


 @media only screen and (max-width: 900px) and (max-height: 400px){
    .h1{
        margin-top:190px;
        font-size: 20px;
        
    } 
    .c{
        font-size:15px;
    }
    .back_btn{
       /* margin-top:300px;*/
    }
    .container{
        width:100%;
        height:100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type:none;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: none;
        transition: background-color 0.6s ease;
        
        }
        
        .active, .dot:hover {
        background-color: #717171;
        }

        .c1{
            font-size:10px;
        }
        .back_btn{
           
            top:100px;
        }
       /* #torna_back{
           
            margin-top:0px;
        }*/

        
 }

 @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    
    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }


    