
body{
    height: 100%;
    width: 100%;
    
}
h1{
    text-align: center;
    
}
h3{
    margin-left: 5%;
    margin-right: 5%;
}
/*
#primo{
    height:100vh;
    width:100%; 
    background-size:cover;

}*/
#secondo{
    background-color:rgba(78, 73, 73, 0.5);
   
   /* height: 100%;*/
    height: 100vh;
    width:100%;
}
#header{
    margin-top: 0px;
    width: 100%;
    /*height: 100px;*/
    height:10%;
    background-color: black;
}
#footer{
    position:absolute;
    bottom:0px;
    width:100%;
    /*height: 100px;*/
    height:10%;
    background-color: black;
}
#back{
    position: absolute;
    
    /*left: 900px;*/
    left: 50%;
}
h2{
    color: white;
    text-align: center;
}
#mybtn{
   
  
    margin-top:7%;
    margin-left:20% ;
    display: grid;  
    grid-gap: 100px;  
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);  
    
     
}

.bottoni{
  
   border-radius: 100%;
   border: none;
   height: 100px;
   width: 100px;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
  border: 2px solid black;
   margin: 4px 2px;
   cursor: pointer;
   
  
}


#amsterdam{
    padding:3px;
}

.toAdd{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2px solid black;
    background-color: rgba(255,0,0,0.7);
    color: black;
}

.notToAdd{
    
}
#back{
    border-radius: 5px;
    padding: 5px;
    background-color:rgb(150,0,0);
    color:white;
    font-weight:bold;
    cursor: pointer
}
#titolo{
    text-shadow: 0px 1px 1px red;
    color:white;
}

/*
@media screen and (max-width:900px) {

    
    #secondo{
        background-color:rgba(78, 73, 73, 0.5);
       
       
        height: 100%;
        width:100%;
    }
    #header{
        margin-top: 0px;
        width: 100%;
       
        height:100px;
        background-color: black;
    }
    #footer{
        position:absolute;
        bottom:0px;
        width:100%;
       
        height:100px;
        background-color: black;
    }
    #back{
        position: absolute;
        
       
        left: 50%;
    }
    h2{
        color: white;
        text-align: center;
    }
    #mybtn{
       
        bottom: 100px;
        top: 100px;
        display: grid;  
        grid-gap: 20px;  
        grid-template-columns: repeat(auto-fit, 20px);
        grid-template-rows: repeat(2, 20px);  
        
         
    }
    
    .bottoni{
      
       border-radius: 100%;
       border: none;
       height: 50px;
       width: 50px;
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       border: 2px solid black;
       margin: 4px 2px;
       cursor: pointer;
       background-color: yellowgreen;
      
    }
    
    
  
    .toAdd{
        height: 200px;
        width: 200px;
        border-radius: 100%;
        border: 2px solid black;
        background-color: rgba(255,0,0,0.7);
        color: black;
    }
    
    .notToAdd{
        
    }
    #back{
        border-radius: 5px;
        padding: 5px;
        background-color:rgb(150,0,0);
        color:white;
        font-weight:bold;
        cursor: pointer
    }
    #titolo{
        text-shadow: 0px 1px 1px red;
        color:white;
    }


 }


 @media  screen and (max-width: 400px){
    
    .bottoni{
        background-color:greenyellow;
    }
}
*/