body{
   background-color:navajowhite
}


.text-center{
    padding-left: 30%;
    padding-right: 30%;
    margin:auto; 
    color:crimson;
   
    
}

h1{
    color:black;
    font-style: 
    list-style
}

#form{
    text-align: center;
    color:black;
    font-family:Arial;
    
    
}

#form2{
   display: none;
    
}
#form3{
    display: none;
    
}
#form4{
    display: none;
    
}
#form5{
    display: none;
    
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
    background-color: #666;
    color: white;
  }

#format{
    font-size:large;
    
}