body{
  
}

h1{
  text-align: center;
  text-shadow: 2px;
}


.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  margin-left:0% ;
  /**/
}



.container{
 /* display: grid;  
  grid-gap: 10px;  
  grid-template-columns: repeat(auto-fit, 15px);
  grid-template-rows: repeat(2, 15px); */
  max-width:100%;
  overflow-x: auto;
}

.tab{
  
  margin-left: 37%;
  margin-top: 5%;
  width:50%;
  height: 50%;
  
}

.bottoni{
  position: relative;
  top:70%;
  left: 50%;
  bottom:20%;
  border-color: 3px solid black;

}

.btn{
  height:100%;
  width:100%;
 background-color: green;
  padding:20px;
}
.btn_red{
  height:100%;
  width:100%;
  background-color: red;
  padding:20px;
}

.tab:nth-child(odd){
  width:fit-content;
}

.indietro{
  position: absolute;
  right:100%;
  bottom:10%;
  top:80%;
}
/*480 700 900only*/
@media  screen and (max-width: 700px) {
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      /*border: 1px solid #ddd;margin-left:-10%;*/
     
      margin-top: 30%;
  }
  .table-responsive > .table {
      margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap;
  }

  .tab{
   
    margin-left: 0%;
   
    width: 100px;
    height: 300px;
  }

  .btn{
    height:100%;
    width:100%;
    background-color: green;
    padding:20px;
  }

}
@media  screen and (max-width: 700px) and (max-height: 400px) {
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      /*border: 1px solid #ddd;margin-left:-10%;*/
      margin-left:3%;
      margin-top: 3%;
  }
  .table-responsive > .table {
      margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap;
  }

  .tab{
  
    margin-left: 0%;

    width: 100px;
    height: 50px;
  }

  .btn{
    height:100%;
    width:100%;
    background-color: green;
    padding:20px;
  }

}
