body{
  background-color:lightslategrey;
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  
  
}

body {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



.bg-image {
    /* The image used */
    background-image: url(../images/background_city.jpg);
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

h1{
    text-align: center;
    font-style: italic;
}
.list{
    text-align: center;
    position:relative;
    height:60%;
    width: 60%;
    left:20%;
    right:20%;
    top: 15%;
    bottom:35%;    
   /* border: 5px solid #73AD21;*/
}
img{
    width: 75%;  
}
.btn{
    
    height: 140px;
    width: 140px;
    border-radius: 100%;
    /*padding: 10px;
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: space-around;*/
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
    
    
}
.btn1{
    position:absolute;
    left: 10%;
    top: 10%;
   /* border: 3px solid #ad9f21;*/
    
}



.btn2{
    position:absolute;
    right: 10%;
    top: 10%;

   /* border: 3px solid #73AD21;*/
}
.btn3{
    position:absolute;
  
    left: 25%;
    top: 45%;

   /* border: 3px solid #2321ad;*/
}
.btn4{
    position:absolute;
   
    right: 25%;
    top: 45%;
    /*border: 3px solid #a821ad;*/
}
.btn5{
    position:absolute;
   
    left: 43%;
    top:80%;
   /* border: 3px solid #ad4221;*/

}
.did{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    position: justify;
}
/*
.menu{
    height:50%;
    width: 20%;
    border: 3px solid #ad2157;
    top: 7%;
    left: 3%;
}*/

.main{
  position: relative;
 
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
   /* top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;*/
    border: 3px solid #ad2196;
    height: 600px;
    width: 100%;
    display:flex;
}
#img2{
    padding-left: 10px;
    
}
#img1{
    padding-left: 10px;
}
#img3{
    padding-left: 10px;
}
#img4{
    padding-left: 0px;
}
#img5{
    padding-left: 0px;
}


#T1{
    display:none;
    z-index:2; 
}

 #T2{
   display:none;
   z-index:2; 
}
#T3{
    display:none;
    z-index:2; 
 }
 #T4{
    display:none;
    z-index:2; 
 }
 #T5{
    display:none;
    z-index:2; 
 }
 

 .container {
    display: inline-block;
    cursor: pointer;
    position:absolute;
    height:50%;
    width: 20%;
    /*border: 3px solid #ad2157;*/
    top: 7%;
    left: 3%;
  }
  .goback{
     
      text-align:center;
  }
  .back_btn{
   border-radius: 5px;
   padding: 5px;
   background-color:rgb(150,0,0);
   color:white;
   font-weight:bold;
   cursor: pointer;
  }
  #titolo{
      text-shadow: 0px 2px 2px white;

  }
  @media only screen and (max-width: 900px){
    
       
    h1{
        text-align: center;
        font-style: italic;
    }
    .list{
        text-align: center;
        position:relative;
        height:70%;
        width: 80%;
        left:10%;
        right:20%;
        top: 3%;
        bottom:35%; 
        /*border: 5px solid #0a0f04;*/
    }
    img{
        width: 75%;  
    }
    .btn{
        
        height: 60px;
        width: 60px;
        border-radius: 100%;
        
        background-color: white;
        cursor: pointer;
        border: 2px solid black;
        
        
    }
    .btn1{
        position:absolute;
        left: 10%;
        top: 10%;
       /* border: 3px solid #ad9f21;*/
        
    }
    .btn2{
        position:absolute;
        right: 10%;
        top: 10%;
    
       /* border: 3px solid #73AD21;*/
    }
    .btn3{
        position:absolute;
      
        left: 25%;
        top: 45%;
    
       /* border: 3px solid #2321ad;*/
    }
    .btn4{
        position:absolute;
       
        right: 25%;
        top: 45%;
        /*border: 3px solid #a821ad;*/
    }
    .btn5{
        position:absolute;
       
        left: 43%;
        top:80%;
       /* border: 3px solid #ad4221;*/
    
    }
    .did{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-style: oblique;
        position: justify;
        font-size:small;
    }
    #img2{
        padding-left: 10px;
        
    }
    #img1{
        padding-left: 10px;
    }
    #img3{
        padding-left: 10px;
    }
    #img4{
        padding-left: 0px;
    }
    #img5{
        padding-left: 0px;
    }
    .main{
      position: relative;
     
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
       /* top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;*/
        border: 3px solid #ad2196;
        height: 600px;
        width: 100%;
        display:flex;
    }
   
     
    
     .container {
        display: inline-block;
        cursor: pointer;
        position:absolute;
        height:50%;
        width: 20%;
        /*border: 3px solid #ad2157;*/
        top: 7%;
        left: 3%;
      }

  }

  @media only screen and (max-width: 900px){
      .did{
        font-size:x-small;
      }
      .btn{
        
        height: 90px;
        width: 90px;
        border-radius: 100%;
        background-color: white;
        cursor: pointer;
        border: 2px solid black;
    }

    .btn1{
        position:absolute;
        left: 0%;
        top: 0%;
       /* border: 3px solid #ad9f21;*/
        
    }
    .btn2{
        position:absolute;
        right: 0%;
        top: 0%;
    
       /* border: 3px solid #73AD21;*/
    }
    .btn3{
        position:absolute;
      
        left: 0%;
        bottom: 0%;
    
       /* border: 3px solid #2321ad;*/
    }
    .btn4{
        position:absolute;
       
        right: 0%;
        bottom:0%;
        /*border: 3px solid #a821ad;*/
    }
    .btn5{
        position:absolute;
      /* align-items: center;
       margin-left:-10%; border: 3px solid #ad4221;*/
         left: 37%;
        top:80%;
    }


    #img1{
        padding-left: 0px;
    }
    #img2{
        padding-left: 0px;
        
    }
    
    #img3{
        padding-left: 00px;
    }
    #img4{
        padding-left: 0px;
    }
    #img5{
        padding-left: 0px;
    }
  }


  @media only screen and (max-width: 900px) and (max-height: 450px){

    .btn5{
        position:absolute;
      /* align-items: center;
       margin-left:-10%; border: 3px solid #ad4221;*/
        left: 40%;
        top:80%;
    }

  }