/*--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/

/* BODY */
body,html{
    height: 200%;
    text-align: center;
    left: 0%;
    margin: 0%;
    font-family:system-ui,"Segoe UI","Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/*============================================================*/
/* container */
.container{
    height: 100%;
    width: 100%; 
    text-align: center;  
}
/*============================================================*/
/* VIDEO */
.video2{
    width:100%;
}
/*============================================================*/
/*  TESTO */
.testo{
    
    color: white;
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    width: 100%;
}
/*============================================================*/
/*  BARRA DI NAVIGAZIONE */
.navbar{
    position:fixed;
    top:0;
    z-index:1;
    display:flex;
    width:100%;
    height: 70px;
    /*height: 8%;*/
    left: 0%;
    background: rgba(0,0,0,0.7);
}
.navbar ul{
    display:flex;
    list-style:none;
    width:100%;
    justify-content:center;
}
.navbar ul li{
    margin:0 1rem;
    padding: 1rem;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    /*font-size: 1vw;*/
}
.navbar ul li a:hover{
    
    color:rgb(240, 9, 9);
}
/*============================================================*/
/*SECTION PRIMAPAGINA */
.primapagina{
    background-color:red;
    height: 25%;
}
/*============================================================*/
/*SFONDO NERO INIZIALE SOTTO LA NAVBAR */
.divisore{
    top: 0%;
    height: 8%;
    background-color: black;
}
/*============================================================*/
/*PARTE FINALE PRIMA PAGINA */

.Messaggio{
    
    background-color:red;
    /*height: 22%;*/
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;

}
.visita{
    font-size: 3vw;
}
.visita2{
  font-size: 1vw;
}
/*============================================================*/
/*SECTION SECONDA PAGINA */
.secondapagina{
    background-color:rgb(255, 255, 255);
    height: 25%;
    text-align: center;
}
/*============================================================*/
/*SECTION TERZA PAGINA */
.terzapagina{
    background-color:rgb(226, 151, 12);
    height: 25%;
}
/*============================================================*/
/*SECTION QUARTA PAGINA */
.quartapagina{
    background-color:rgb(43, 241, 8);
    height: 25%;
}
/*============================================================*/
/* RIQUADRI SECONDA PAGINA*/
.toggle1{
  height: 40%;
  width: 32.3%;
  background-color:rgb(212, 212, 212);
  top: 110%;
  position: absolute;
  border-radius: 5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-align: center;
  font-size: 2vw;
}
.toggle1:hover{
  background-color: rgb(29, 190, 29);
}

.toggle2{
  height: 40%;
  width: 32.4%;
  background-color: rgb(212, 212, 212);
  position: absolute;
  top: 110%;
  left: 33.3%;
  border-radius: 5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-align: center;
  font-size: 2vw;
}
.toggle2:hover{
  background-color: rgb(219, 38, 38);
}

.toggle3{
  height: 40%;
  width: 32.3%;
  background-color: rgb(212, 212, 212);
  position: absolute;
  top: 110%;
  left: 66.7%;
  border-radius: 5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-align: center;
  font-size: 2vw;
}
.toggle3:hover{
  background-color: rgb(59, 110, 230);
}

.stemma1{
  height: 30%;
  width: 22%;
}

.stemma2{
  height: 30%;
  width: 28%;
}

.stemma3{
  height: 26%;
  width: 22%;
}

.commento{
  font-size: 1vw;
}
/*============================================================*/
/*DIVISORE PER LA SECONDA PAGINA*/
.divisore2{
  height: 9%;
}

/*============================================================*/
/* TESTO MAGGIORI INFORMAZIONI*/
.magginfo{
  position: absolute;
  top: 156%;
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 4vw;
  /*background-color: rgb(236, 9, 9);*/
}

.testo3{
  position:absolute;
  top:166%;
  width: 100%;
  height: 20%;
  /*background-color: chartreuse;*/
  font-size: 1.5vw;
}

/*============================================================*/
/* BOTTONE PRENOTAZIONE SECONDA PAGINA*/

.btn{
  position:absolute;
  top:185%;
  background-color: rgb(0, 0, 0);
  color: crimson;
  text-align: center;
  text-decoration: none;
  padding: 0.5%;
  vertical-align: middle;
  border-radius: 5%;
  font-size: 20px;

  /*width: 8%;*/
  /*left:45%;*/
}
.b1{
  right: 50.5%;
}
.b2{
  left: 50.5%;
}
.btn:hover{
  background-color: rgb(95, 92, 92);
  color: crimson;
}

/*============================================================*/
/* IMMAGINI ROTANTI TERZA PAGINA*/

/* Slideshow container */
.slideshow-container {
  height: 79%;
  width: 70%;
  top: 10%;
  position: relative;
  margin: auto;
  /*background-color: brown;*/
}

img{
  width: 100%;
}


.mySlides {
  position: relative;
  display: none;
}

/* Bottoni Next & previous */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  /*margin-top: 6%;*/
  padding: 1.5%;
  color: rgb(248, 7, 7);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0%;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Numeri immagini */
.numbertext {
  color: #f50606;
  font-size: 1vw;
  position: absolute;
  top:1%;
  right: 1%;
}

/*CLASSE DOT MODIFICATA*/
.dot {
  cursor:pointer;
  height: 6px;
  width: 40px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;  
  
}



.dotcontainer{
  position: relative;
  /*background-color: cadetblue;*/
  top: 1%;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*============================================================*/
/* TESTO OPZIONALE */
.testo_opzionale{
  display: none;
}

/*============================================================*/
/* TESTO TERZA PAGINA*/
.testo2{
  position: relative;
  height: 11%;
  top:9%;
  /*background-color: black;*/
  font-size: 5vw;
  
}



/*===========================================================================================================*/
/*QUARTA PAGINA*/
.row{
  position: absolute;
  top: 370%;
}

.row > .column {
  padding: 0 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #000000;
  margin: auto;
  padding: 0;
  top: 10%;
  width: 90%;
  left: 0%;
  text-align: center;
  
}

/* Bottone di chiusura */
.close {
  color: white;
  position: absolute;
  top: 1.5%;
  right: 1%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(250, 25, 4, 0.904);
  text-decoration: none;
  cursor: pointer;
}

/* testo sull'immagine */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: rgb(235, 20, 20);
  background-color: rgb(0, 0, 0);
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mySlides2 {
  position: relative;
  left:20%;
  width: 60%;
  display: none;
  top:0%;
  background-color: rgb(0, 0, 0);
}


.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  /*margin-top: 6%;*/
  padding: 1.5%;
  color: rgb(241, 10, 10);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next2 {
  right: 20%;
  border-radius: 3px 0 0 3px;
}

.prev2{
  left: 20%;
  border-radius: 3px 0 0 3px;
}

.next2:hover{
  background-color: black;
}

.prev2:hover {
  background-color: black;
}
/*=============================================================================*/
/*PARTE TESTUALE 4^ PAGINA*/
.Testo4{
  position: absolute;
  top:310%;
  font-size: 5vw;
  width: 100%;
}

.testo4{
  font-size: 3vw;
}

.avviso{
  font-size: 1vw;
}





/*=============================================================================*/
/*VISUALIZZAZIONE TELEFONO*/
@media only screen and (max-width: 870px){


  /*=======================================================*/
  /*BARRA DI NAVIGAZIONE*/
  .navbar{
    height: 50px;
  }
    .navbar ul li{
      margin:0 1rem;
      padding: 0.5rem;
  }


    .navbar ul li a{
      font-size: 1vw;
    }

  /*=======================================================*/
  /*PRIMA PAGINA*/
  .testo{
    top:15%;
  }

  .Messaggio{
      
    
    font-size: 8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;

  }
  .visita{
    font-size: 12vw;
    
  }
  .visita2{
    
    font-size: 4vw;
  }

  /*=======================================================*/
  /*SECONDA PAGINA*/
  .toggle1{
    height: 20%;
    width: 49%;
    background-color:rgb(212, 212, 212);
    top: 112%;
    position: absolute;
    border-radius: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    font-size: 3vw;
  }
  
  
  .toggle2{
    height: 20%;
    width: 49%;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 112%;
    left: 51%;
    border-radius: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    font-size: 3vw;
  }
  
  
  .toggle3{
    height: 20%;
    width: 49%;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 133%;
    left: 25%;
    border-radius: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    font-size: 3vw;
  }
  
  
  .commento{
    font-size: 1.2vw;
  }

  .magginfo{
    position: absolute;
    top: 156%;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 4vw;
    /*background-color: rgb(236, 9, 9);*/
  }
  
  .testo3{
    position:absolute;
    top:166%;
    width: 100%;
    height: 20%;
    /*background-color: chartreuse;*/
    font-size: 1.5vw;
  }

  /*=======================================================*/
  /*TERZA PAGINA*/

  .testo2{
    top:12%;
    font-size: 5vw;
  }

  .dot{
    height: 3px;
    width: 20px;
  }

  .testo_opzionale{
    display: contents;
    font-size: 3.5vw;
  }

  /*=======================================================*/
  /*QUARTA PAGINA*/
  .Testo4{
    font-size: 8vw;
  }
  
  .testo4{
    font-size: 5vw;
  }
  
  .avviso{
    font-size: 3vw;
  }
}
/*========================================*/
/*SOLO PER LA PRIMA PAGINA*/
@media only screen and (max-width: 1800px){

.testo{
   top:20%;
}

}
/*========================================*/
/*SOLO PER LA SECONDA PAGINA*/
@media only screen and (max-width: 700px){

  .toggle1{
    height: 20%;
    width: 49%;
    background-color:rgb(212, 212, 212);
    top: 112%;
    position: absolute;
    border-radius: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    font-size: 3vw;
  }
  
  
  .toggle2{
    height: 20%;
    width: 49%;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 112%;
    left: 51%;
    border-radius: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    font-size: 3vw;
  }
  
  
  .toggle3{
    height: 20%;
    width: 49%;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 133%;
    left: 25%;
    border-radius: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    font-size: 3vw;
  }
  
  
  .commento{
    font-size: 1.5vw;
  }

  .magginfo{
    position: absolute;
    top: 156%;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 8vw;
    /*background-color: rgb(236, 9, 9);*/
  }
  
  .testo3{
    position:absolute;
    top:166%;
    width: 100%;
    height: 20%;
    /*background-color: chartreuse;*/
    font-size: 2.5vw;
  }

  .testo2{
    font-size: 6vw;
  }

}

