body,html{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0%;
}

.intestazione{
    /*height: 6%;*/
    width: 100%;
    background-color: rgb(7, 153, 26);
    text-align: center;
    font-size: 2vw;
}

.avviso{
    width: 100%;
    font-size: 4vw;
    font-weight: 900;
    text-align: center;
}


.testo{
    width: 100%;
    font-size: 4vw;
    font-weight: 900;
    color: black;
    text-align: center;
}
.testo2{
    font-size: 3vw;
    font-weight: 700;
}

.testo3{
    font-size: 2vw;
    font-weight: 500;
}

.bottoni{
    text-align: center;
}


.cbianco{
    background-color: rgb(250, 249, 249);
    display: none;
    text-align: center;
    font-size: 3vw;
}

.cverde{
    background-color: rgb(57, 124, 57);
    display: none;
    text-align: center;
    font-size: 3vw;
}

.cazzurro{
    background-color: rgb(129, 193, 236);
    display: none;
    text-align: center;
    font-size: 3vw;
}

.cgiallo{
    background-color: rgb(245, 245, 119);
    display: none;
    text-align: center;
    font-size: 3vw;
}

.crosso{
    background-color: rgb(251, 106, 106);
    display: none;
    text-align: center;
    font-size: 3vw;
}

.button{
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.5%;
    vertical-align: middle;
    border-radius: 5%;
    font-size: 1.5vw;
}

.bianco{
    background-color: white;
    border: 1px solid black;
}
.bianco:hover{
    background-color: black;
    color:white;
}

.verde{
    background-color: green;
}
.verde:hover{
    color: black;
    background-color:rgba(8, 241, 8, 0.65);
}

.azzurro{
    background-color: rgb(9, 148, 241);
}
.azzurro:hover{
    color: black;
    background-color:rgb(10, 216, 243);
}

.giallo{
    background-color: rgb(233, 233, 112);
}
.giallo:hover{
    color: black;
    background-color:rgb(255, 251, 0);
}

.rosso{
    background-color: rgb(218, 85, 85);
}
.rosso:hover{
    color: black;
    background-color:red;
}

.prenota{
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5%;
    vertical-align: middle;
    border-radius: 10%;
    border: black;
    border-style:solid;
}

.paragrafo{
    font-size: 2vw;
}

hr{
    height: 0.5%;
    background-color: black;
}

.indietro{
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0%;
    border-radius: 5%;
    font-size: 1.5vw;
    position:absolute;
    top:0.5%;
    right: 2%;
    background-color: rgb(7, 153, 26);
    border: hidden;
}
.indietro:hover{
    color: rgb(253, 253, 253);
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(7, 153, 26);
}

img{
    position:absolute;
    top: 0.5%;
    height: 5%;
    left: 1%;
}